.labelInline {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "label field"
    ". extras";

  :global {
    .labelContainer {
      align-items: flex-start;
      grid-area: label;
      justify-content: flex-end;
      margin-top: 0.65rem;
    }
    .fieldContainer {
      grid-area: field;
    }
    .extrasContainer {
      grid-area: extras;
    }
  }
  &:global(.sizing-sm) {
    :global {
      .labelContainer {
        margin-top: 0.55rem;
      }
    }
  }
  &:global(.sizing-lg) {
    :global {
      .labelContainer {
        margin-top: 1.05rem;
      }
    }
  }
}
